.social-icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
  margin: 0;
}


.MyLogo {
  transition-delay: 150ms;
  transition-duration: 350ms;
}

.MyLogo a {
  margin-left: 3.5rem;
}

.MyLogo:hover {
  transform: scale(1.2);
}
.navigation-link a:hover{
  color: var(--clr-para);

}

.nav-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-purple);
}


.nav-icons .nav-bar1 {
  transform: translateY(8px) rotate(45deg);
  background: #fff;
}

.nav-icons .nav-bar2 {
  transform: translateY(8px) rotate(45deg);
  background: #fff;
}

.nav-icons .nav-bar3 {
  transform: translateY(8px) rotate(45deg);
  background: #fff;
}

.Nav-items {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 45px;
}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color:blue
}
.nav-icons{
  display: none;
  cursor: pointer;
}

ul li {
  list-style: none;
  float: right;
  width: 5%;
}

.social-icons li {
  width: 10%;
  float: left;
}

.social-icons li a {
  float: right;
}

.header {
  height: 200px;
  left: 0;
  top: 1px;
  background-image: url(/imgs/Header\ bg.svg);
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
}

@media(max-width:768px){
  .nav-icons{
    display: block;
  }
  .nav-icons.active .nav-bar:nth-child(2){
    opacity: 0;
  }
  .nav-icons.active .nav-bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .nav-icons.active .nav-bar:nth-child(1){
    transform: translateY(-8px) rotate(-45deg);
  }

  .Nav-items{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e5e5e5;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navigation-link{
    margin: 16px 0;
  }
  .Nav-items.active{
    left: 0;
  }

}